.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
}

.contact h1 {
  color: var(--secondary-color);
  border: 1.7px solid var(--secondary-color);
  padding: 20px;
  font-size: 40px;
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px #272727;
}

.contact h1 .sub_heading {
  color: var(--main-color);
}
