.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.skills h1 {
  color: var(--secondary-color);
  /* backdrop-filter: blur(10px); */
  width: 30%;
  font-size: 30px;
}

.skills h1 b {
  color: var(--main-color);
}
