.navbar ul {
  gap: 0.53rem !important;
}

.navbar .nav-link {
  color: var(--secondary-color) !important;
  background-color: var(--main-color);
  border: 0.063rem solid var(--main-color);
  border-radius: 1.43rem;
}

.navbar .nav-link img {
  height: 30px;
}

.navbar .nav-link:hover {
  color: var(--main-color) !important;
  background-color: var(--secondary-color);
}

.navbar .active {
  color: var(--main-color) !important;
  background-color: var(--secondary-color) !important;
}

.navbar .logo {
  color: var(--main-color) !important;
}
