.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
}

.project h1 {
  color: var(--secondary-color);
  border: 1.7px solid var(--secondary-color);
  padding: 20px;
  font-size: 40px;
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px #272727;
}

.project h1 .sub_heading {
  color: var(--main-color);
}

.project .project_list {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  /* padding-block: 60px 40px;
  gap: 20px;
  padding-inline: 60px; */
}

.project .project_list .project_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 60px 40px;
  gap: 20px;
  padding-inline: 60px;
}

.project .project_list .project_item img {
  height: 300px;
  width: 400px;
  border: 0.3rem solid var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
}

.project .project_list .project_item .des {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.des h2 {
  font-size: 40px;
  color: var(--main-color);
}

.des p {
  font-size: 20px;
  color: var(--secondary-color);
}

.des a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40px;
  outline: none;
  border: 1px solid var(--main-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: var(--main-color);
  text-decoration: none;
}

.des a:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

@media only screen and (max-width: 640px) {
  .project .project_list .project_item {
    flex-direction: column;
    padding-block: 20px 30px;
    padding-inline: 0;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  .project .project_list .project_item img {
    height: 100%;
    width: 98%;
  }

  .project .project_list .project_item .des {
    align-items: left;
    justify-content: left;
    width: 100%;
  }

  .des h2 {
    font-size: 33px;
  }

  .des p {
    font-size: 16px;
  }

  .des a {
    width: 30%;
  }
}
