.banner {
  padding-top: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3.125rem;
  font-family: "Playwrite NG Modern", cursive;
}

#particles canvas {
  position: absolute;
  z-index: -1;
  height: 6.25rem;
  width: 100%;
}

.left {
  padding: 1.25rem;
  width: 50%;
}
.left p {
  font-weight: 500;
  color: var(--secondary-color);
  padding: 1.25rem;
}

.left p h1 {
  color: var(--main-color);
}

.right {
  width: 25%;
}

.logoImg {
  border: 1px solid var(--main-color);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: floatImage 4s ease-in-out infinite;
}

.logoImg img {
  height: 15rem;
  width: 13rem;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 640px) {
  .banner {
    flex-direction: column;
    padding-top: 60px;
  }
  .banner .left {
    align-items: left;
    text-align: left;
    padding: 0;
    width: 100%;
  }
  .banner .right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
